.intro{
    text-align: center;
}

.intro h2{
    text-decoration: #FFFFFF;
}

.intro p{
    text-decoration-color: #FFFFFF;
}

.mission-statement{
    text-align: center;
}

p{
    text-align: center;
}
